@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('assets/fonts/TT\ Commons\ Basic\ Package/TypeType - TT Commons Book.ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('assets/fonts/TT\ Commons\ Basic\ Package/TypeType - TT Commons DemiBold.ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('assets/fonts/TT\ Commons\ Basic\ Package/TypeType - TT Commons Bold.ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  font-style: italic;
  font-display: block;
  src: url('assets/fonts/TT\ Commons\ Basic\ Package/TypeType - TT Commons Italic.ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 500;
  font-style: italic;
  font-display: block;
  src: url('assets/fonts/TT\ Commons\ Basic\ Package/TypeType - TT Commons DemiBold Italic.ttf');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: 600;
  font-style: italic;
  font-display: block;
  src: url('assets/fonts/TT\ Commons\ Basic\ Package/TypeType - TT Commons Bold Italic.ttf');
}
